@import "./mixin";

@font-face {
    font-family: "SUIT-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.app {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: "SUIT-Regular", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    overflow: hidden;
}

button {
    cursor: pointer;
}